<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.salta" android:versionCode="1" android:versionName="1.0">
	<application android:label="salta-android" android:icon="@drawable/icon">
		<activity android:name="HomeActivity" android:label="Login">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="SaltaPreferenceActivity" android:label="@string/preference" />
		<activity android:name="GroupListActivity" android:label="Subscribed Groups" />
		<activity android:name="ContactListActivity" android:label="Subscribed Members" />
	<service android:name=".service.SaltaService" android:enabled="true"></service>
</application>
	<uses-permission android:name="android.permission.INTERNET"/>
</manifest> 
